
@{
    ViewData["Title"] = "PhoneBook";
}

<h2>PhoneBook</h2>

<div class="row">
    <div class="col-xs-6">
        <div class="input-group">
            <input type="text" class="form-control" placeholder="Search by name&hellip;" id="inputNameSearch">
            <span class="input-group-btn">
                <button type="button" class="btn btn-secondary" id="btnFind">Search</button>
            </span>
        </div>
    </div>
    <div class="col-xs-1">
        <button type="button" class="btn btn-primary" data-toggle="modal" data-target="#modalAddEntry">
            Add New Entry
        </button>
    </div>
</div>

<hr />

<div class="row">
    <div class="col-xs-6">
        <div class="input-group">
            <input type="text" class="form-control" placeholder="Filter by number&hellip;" id="inputFilter">
            <span class="input-group-btn">
                <button type="button" class="btn btn-secondary" id="btnFilter">Search</button>
            </span>
        </div>
    </div>
</div>

<hr />

<div class="row">
    <div class="col-md-6">
        <table id="tablePhonebook" style="font-size:medium" class="table table-bordered table-striped">
            <thead>
                <tr>
                    <th>Name</th>
                    <th>Phone Number</th>
                </tr>
            </thead>
            <tbody></tbody>
        </table>
    </div>
</div>

<!-- Modal -->
<div class="modal fade" id="modalAddEntry" tabindex="-1" role="dialog" aria-labelledby="myModalLabel">
    <div class="modal-dialog" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
                <h4 class="modal-title" id="myModalLabel">Add New Entry</h4>
            </div>
            <div class="modal-body">                

                <form>
                    <div class="form-group">
                        <label for="inputName" class="col-form-label">Name:</label>
                        <input type="text" class="form-control" id="inputName" placeholder="Name">

                    </div>
                    <div class="form-group">
                        <label for="inputPhoneNumber" class="col-form-label">Phone Number:</label>
                        <input type="tel" class="form-control" id="inputPhoneNumber" placeholder="Phone Number">
                    </div>
                </form>

            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-secondary" data-dismiss="modal">Cancel</button>
                <button type="button" class="btn btn-primary" id="btnSave">Save</button>
            </div>
        </div>
    </div>
</div>
<div id="domMessage" style="display:none;">
    <h1>We are processing your request.  Please be patient.</h1>
</div>

<!-- Sweet Alert Styles -->
<link href="~/plugins/sweetalert/sweetalert.css" rel="stylesheet" type="text/css" />
<link href="~/plugins/sweetalert/google/google.css" rel="stylesheet" type="text/css">

<script src="~/plugins/sweetalert/sweetalert.min.js"></script>

<script src="https://code.jquery.com/jquery-3.3.1.min.js"
        integrity="sha256-FgpCb/KJQlLNfOu91ta32o/NMZxltwRo8QtmkMRdAu8="
        crossorigin="anonymous"></script>

<script>

    var datatable = null;

    $(document).ready(function () {

        $('#inputNameSearch').val("");
        $('#inputPhoneNumber').val("");
        $('#inputName').val("");

        $('#btnFind').click(function () {

            $.blockUI(); 

            if ($('#inputNameSearch').val() == '') {
                ShowSwalError('Please enter a valid name');
            }
            else {
                SearchEntriesByName();
            }
        });

        $('#btnSave').click(function () {

            $.blockUI(); 

            if ($('#inputName').val() == '') {
                ShowSwalError('Please enter a valid name');
            }
            else if ($('#inputPhoneNumber').val() == '') {
                ShowSwalError('Please enter a valid phone number');
            }
            else {
                SaveEntry();
            }
        });

        $('#btnFilter').click(function () {

            $.blockUI(); 

            if ($('#inputFilter').val() == '') {
                ShowSwalError('Please enter a number to query');
            }
            else {
                SearchEntriesByNumber();
            }
        });

        $('#modalAddEntry').on('hidden.bs.modal', function (e) {

            $('#inputPhoneNumber').val("");

            SearchEntriesByName();
        })
    });

    function SaveEntry() {

        var request = new Object();

        request.Name = $('#inputName').val();
        request.PhoneNumber = $('#inputPhoneNumber').val();

        var parameters = JSON.stringify({
            request: request
        });

        $.ajax({
            type: "GET",
            url: '@Url.Action("SaveEntry", "Home")',
            data: { name: $('#inputName').val(), phoneNumber: $('#inputPhoneNumber').val() },
            success: function (response) {

                var status = response.result.status;

                if (status.search(/error/i) == -1 && status.search(/failed/i) == -1) {

                    $('#inputNameSearch').val($('#inputName').val());

                    $('#inputName').val('');
                    $('#inputPhoneNumber').val('');

                    $('#modalAddEntry').modal('hide');

                    SearchEntriesByName();
                }
                else {
                    ShowSwalWarning(response.result.message);
                }
            },
            error: function (XMLHttpRequest, textStatus, errorThrown) {
                ShowSwalError('There was an error: ' + errorThrown);
            },
            complete: function () {
                $.unblockUI();
            }
        });
    }

    function SearchEntriesByName() {
        $.ajax({
            type: "GET",
            url: '@Url.Action("PhoneBookData", "Home")',
            data: { phonebookName: $('#inputNameSearch').val() },
            success: function (response) {

                var status = response.result.status;

                console.log(status);

                if (status.search(/error/i) == -1 && status.search(/no data/i) == -1) {

                    $("#tablePhonebook tbody").empty();

                    $.each(response.result.result, function (index, value) {

                        var markup = "<tr><td>" + value.name + "</td><td>" + value.phoneNumber + "</td></tr>";

                        $("table tbody").append(markup);
                    });
                }
                else {
                    ShowSwalWarning(response.result.message);
                }
                $.unblockUI();
            },
            error: function (XMLHttpRequest, textStatus, errorThrown) {
                ShowSwalError('There was an error: ' + errorThrown);
            },
            complete: function () {
                $.unblockUI();
            }
        });
    }

    function SearchEntriesByNumber() {
        $.ajax({
            type: "GET",
            url: '@Url.Action("SearchPhonebookEntries", "Home")',
            data: { query: $('#inputFilter').val() },
            success: function (response) {

                var status = response.result.status;

                console.log(status);

                if (status.search(/error/i) == -1 && status.search(/no data/i) == -1) {

                    $("#tablePhonebook tbody").empty();

                    $.each(response.result.result, function (index, value) {

                        var markup = "<tr><td>" + value.name + "</td><td>" + value.phoneNumber + "</td></tr>";

                        $("table tbody").append(markup);
                    });
                }
                else {
                    ShowSwalWarning(response.result.message);
                }
            },
            error: function (XMLHttpRequest, textStatus, errorThrown) {
                ShowSwalError('There was an error: ' + errorThrown);
            },
            complete: function () {
                $.unblockUI();
            }
        });
    }

    /**
     * GENERIC FUNCTIONS
     */

    function ShowSwal(text) {
        swal({
            title: 'Result...',
            text: text,
            type: 'success',
            confirmButtonText: 'OK',
            confirmButtonColor: '#D42E12',
            onClose: $.unblockUI()
        });
    }
    function ShowSwalError(text) {
        swal({
            title: 'Sorry...',
            text: text,
            type: 'error',
            confirmButtonText: 'OK',
            confirmButtonColor: '#D42E12',
            onClose: $.unblockUI()
        });
    }

    function ShowSwalWarning(text) {
        swal({
            title: 'Sorry...',
            text: text,
            type: 'warning',
            confirmButtonText: 'OK',
            confirmButtonColor: '#D42E12',
            onClose: $.unblockUI()
        });
    }

</script>